__pycache__/
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
venv/

.env
.pytest_cache/
__init__.cpython-313.pyc
__init__.cpython-313.pyc
__init__.cpython-313.pyc
__init__.cpython-313.pyc
__init__.cpython-313.pyc
__init__.cpython-313.pyc
__init__.cpython-313.pyc